<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../resources/css/index-style.css">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../resources/files/pics/logo.png"
    />
    <script src="../resources/js/index-js.js"></script>
    <title>Apna Bank</title>
  </head>
  <body>
    <header id="header">
      <section>
        <div id="brand"><h1>APNA Bank</h1></div>
        <div id="buttons">
          <input
            type="button"
            value="Login"
            onclick="window.location.href='login.html'"
          />
          <input
            type="button"
            value="Create Account"
            onclick="window.location.href='create.html'"
          />
        </div>
        <div id="clear"></div>
      </section>
    </header>

    <main>
      <section id="nura-bank">
        <div class="container">
          <div class="left">
            <h2>Apna bank</h2>
            <p>
              Apna Bank is an online-only bank that provides a range
              of financial services like checking and savings accounts and other
              financial products to its clients. Our neo bank provides
              affordability, convenience, and control of your finances without
              traditional banking hassles.
            </p>
          </div>
          <div class="right">
            <img src="../resources/files/pics/card2.png" alt="Photo" />
          </div>
        </div>
      </section>
      <hr id="middle-line" />
      <section id="producers">
        <h2>  Developers</h2>
        <div class="container">
          <div class="row">
            <div class="column">
              <div class="info">
                <img
                  class="profile"
                  src="../resources/files/pics/user.png"
                  alt="Person 1"
                />
                <p><span id="name">Muhammad Ahmad</span></p>
                <p><span id="role">SP22-BSE-027</span></p>
                <a href="#">
                </a>
              </div>
            </div>
            <div class="column">
              <div class="info">
                <img
                  class="profile"
                  src="../resources/files/pics/user.png"
                  alt="Person 1"
                />

                <p><span id="name">Mohammad Noman</span></p>
                <p><span id="role">SP22-BSE-054</span></p>
                <a href="#">
                </a>
              </div>
            </div>
            <div class="column">
              <div class="info">
                <img
                  class="profile"
                  src="../resources/files/pics/user.png"
                  alt="Person 1"
                />

                <p><span id="name">Wajahat<br>Saleem</span></p>
                <p><span id="role">SP22-BSE-045</span></p>
                <a href="#">
                </a>
              </div>
            </div>
            <div class="column">
              <div class="info">
                <img
                  class="profile"
                  src="../resources/files/pics/user.png"
                  alt="Person 1"
                />

                <p><span id="name">Muneeb<br>Asif</span></p>
                <p><span id="role">SP22-BSE-137</span></p>
                <a href="#">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <section id="social-media">
        <div class="container">
          <div class="social-icons">
            <a href="#"
              ><img src="../resources/files/pics/telegram.svg" alt="Telegram"
            /></a>
            <a href="#"
              ><img src="../resources/files/pics/facebook.svg" alt="Facebook"
            /></a>
            <a href="#"><img src="../resources/files/pics/twitter.svg" alt="Twitter" /></a>
            <a href="#"
              ><img src="../resources/files/pics/instagram.svg" alt="Instagram"
            /></a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
